<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
     <header>
          <h1>About Us</h1>
         {{>navbar}}
     </header>
     <main>
          <section>
               <h2>Our Story</h2>
               <p>Learn more about our journey and mission.</p>
          </section>
     </main>
    {{>footer}}
</body>

</html>