<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
     <header>
          <h1>Contact Us</h1>
         {{>navbar}}
     </header>
     <main>
          <section>
               <h2>Get in Touch</h2>
               <form>
                    <input type="text" placeholder="Your Name" required>
                    <input type="email" placeholder="Your Email" required>
                    <textarea placeholder="Your Message" required></textarea>
                    <button type="submit">Send Message</button>
               </form>
          </section>
     </main>
    {{>footer}}
</body>

</html>