<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
     <header>
          <h1>Welcome to My Website</h1>
          {{>navbar}}
     </header>
     <main>
          <section>
               <h2>Introduction of home page</h2>
               <p>This is the home page of the website.</p>
          </section>
     </main>
     {{>footer}}
</body>

</html>